td{
    padding: 10px;
}
li{
    line-height: 2;
    list-style-type: none;
}
input{
    margin-left: 20px;
}
input:focus{
    outline: none;
}
.button{
    cursor:pointer;
    color:white;
    background: #1ca8c3;;
    border: none;
    border-radius: 2px;
    margin-top: 20px;
    width: 50px;
    height: 30px;
}
.button:focus,.button2:focus{
    outline: none;
}
.button2{
    cursor:pointer;
    color:white;
    background: #1ca8c3;;
    border: none;
    border-radius: 2px;
    margin-top: 20px;
    width: 50px;
    height: 30px;
}
#bo-dem{
    text-align: center;
    border: none;
    font-size: 50px;
}
